

.click-button {
  border-radius: 8px;
  background-color: #678983;
  padding: 8px;
  margin: 8px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.click-button:hover {
  color: white;
}
