

.button {
  border-radius: 8px;
  background-color: #678983;
  padding: 8px;
  margin: 8px;
  color: rgb(240, 229, 207);
  font-weight: bold;
  text-decoration: none;

  /* border-color: rgb(0, 60, 74); */
}
// .button-blue:hover {
//   background-color: rgb(46, 62, 83);
//   color: rgb(240, 229, 207);
// }
