#navbar {
  text-decoration: none;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
 }

 #navbar ul li a {
 }

  #navbar a {
   color: #404040;
   font-style: bold;
   text-decoration: none;
 }
/* How to make this code override the bs code? */
