@import 'components/navbar';
@import 'components/button';
@import "bootstrap/scss/bootstrap";
/* How to add additional customized styles? This not working:  @import 'navbar'; */

$background-color: #678983;

body {
  background-color: $background-color;
}

// .content-container {
//   background-color: #FFCA03;
//   padding: 12px;
//   border-radius: 16px;
//   display: flex;
//   flex-direction: column;
//   width:
// }

.list-group-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.list-card {
  max-width: 400px;
  margin: 10px;
  width: 400px;
  height: 350px;
  color: $pink;
  background-color: rgb(65, 137, 151);
}
